<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Salvus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">

            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class="nav-link" })
          
        </li>

        <li class="nav-item">

          @Html.ActionLink("Crypto-Assets", "Index", "Assets", new { area = "" }, new { @class="nav-link" })

        </li>

        <li class="nav-item">

          @Html.ActionLink("Portfolio", "Index", "Portfolio", new { area = "" }, new { @class="nav-link" })

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exchange</a>
          <div class="dropdown-menu">

            @Html.ActionLink("Coming Soon", "Index", "Purchase", new { area = "" }, new { @class="dropdown-item" })
          
          </div>
        </li>
      </ul>
    </div>

      <partial name="_LoginPartial" />

  </div>
</nav>