<div class="d-flex justify-content-center p-3">
    <h1 style = font-size: 100px>Welcome to Salvus</h1>

    
</div>

<div class="d-flex justify-content-center p-3">
    <h4>Manage you favorite crypto assets!</h4>
</div>

